
#omOss {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}

#img-con {
    display: flex;
    margin: 100px 0;
    background-color: rgba(245, 245, 245, 0.452);
    padding: 10px;
    box-shadow: 0 20px 25px -5px #cacaca;
}

#image-om_oss {
    display: flex;
    width: 500px;
}

/* RESPONSIV */

@media (max-width: 1024px) {

    #omOss {
        width: 80%;
    }

    #image-om_oss {
        width: 100%;
    }
}

@media (max-width: 768px) {

    #omOss {
        width: 95%;
    }

    #img-con {
        flex-direction: column;
        text-align: center;
    }

    #image-om_oss {
        width: 100%;
    }
}